body {
    padding-top: 51px;
}

#webHeader{
    color: white;
}

#portfolio1{
    background-color: #0094ff;
    color: white;
}

#portfolio2{
    background-color: #5eedb6;
    color: black;
}

#portfolio3{
    background-color: #f4a142;
    color: white;
}

.portfolioBox {
    background: black;
    padding-left: 0px;
    padding-right: 0px;
}

.portfolioTxt{
    height: 355px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

#portfolio2{
    height: 355px;
}
.portfolioImg{
    height: 355px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#portfolioCarousel, #portfolioCarousel2 {
    height: 355px;
    background: black;
    width: 100%;
}


video {
  width: 100%;
  height: 350px;

}

#UCLProject1{
    background: black;
}

#portfolioBox2{
    padding-left: 0px !important;
    padding-right: 0px !important;

}

#txtRight{
    text-align: right;
}

@media (max-width: 1290px){
    #portfolio2{
        height: 100%;
        padding-bottom: 10px;
    }
}
